@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');


body {
  width: 100%;
  text-align: center;
  background-color: black;
}

* {
  box-sizing: border-box;
}

p, h2, h3, h4, h5, h6 {
  color: white;
}

.header-wrapper {
  background-color: #000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  z-index: 2;
}

.header-wrapper a img {
  height: 55px;
}

.title {
  margin-top: 25px;
  margin-left: 50%;
  margin-top: 20px;
}

.right-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-top: 30px;
}

.right-div p {
  margin-right: 10px;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.header-wrapper h1 {
  margin-left: 5%;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-wrapper a {
  text-decoration: none;
}

.header-wrapper span svg {
  width: 24px;
  height: 24px;
  margin-right: 30px;
  margin-top: 2px;
  color: white;
}

.profile-icon {
  color: #3cc16e;
  margin-right: 10px;
}

.search-bar-active {
  display: block;
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #000;
  color: white;
  z-index: 200;
  border: none;
  transition: height .3s ease-out;
  font-weight: 300;
}

.search-bar-active input {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  text-align: left;
  margin-top : 20px;
  width: 40%;
  height: 8px;
  padding: 15px 10px;
  background-color: #000;
  color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}

.search-icon {
  position: absolute;
  left: 67%;
  color: gray;
  fill: currentcolor;
  cursor: pointer;
  font-size: 20px;
  top: 10%;
}

.clear {
  position: absolute;
  right: 34%;
  color: gray;
  fill: currentcolor;
  cursor: pointer;
  font-size: 20px;
  top: 15%;
}

.search-bar-active::placeholder {
  color: white;
}

.search-bar-hidden {
  display: none;
}

.favorite-icon {
  color: #fd7c2a;
  margin-right: 5px;
  padding-bottom: 2px;
  margin-top: 3px;
}

/* Navbar */

.nav-menu-wrapper {
  background-color: black;
  color: white;
  top: 70px;  
  padding-bottom: 10px;
  z-index: 1;
}

.nav-menu, .nav-menu-hamburger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.nav-menu a, .nav-menu-hamburger a {
  text-decoration: none;
}

.nav-menu h4:hover, .nav-menu-hamburger h4:hover {
  color: #3cc16e; 
}

.nav-menu-wrapper h4 {
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 1px;
  font-family: 'Inconsolata', monospace;
}

.nav-active {
  border-bottom: 3px solid #3cc16e;
  transition: border-bottom .3s ease-in-out;
} 

.nav-active h4 {
  color: #3cc16e;
}

.hamburger-icon {
  display: none;
}

.nav-menu-hamburger {
  display: none;
}

/* homepage */

.homepage-wrapper {
  background-color: #000;
  padding-top: 2%;
}

.movie-wrapper {
  text-align: center;

}

.movie-list-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 10%;
  align-self: center;
  justify-self: center;
}

.movie-wrapper {
  margin-right: 10px;
  margin-bottom: 50px;
}

.movie-wrapper a {
  text-decoration: none;
}

.movie-wrapper p {
  margin-bottom: 0;
}

.movie-wrapper a:hover {
  background-color: #3cc16e;
}

.movie-wrapper p:hover {
  color: #3cc16e;
}

.movie-wrapper img {
  width: 210px;
  height: 290px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.flex-rating {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-rating svg {
  padding-right: 5px;
}

/* movie-details*/

.movie-details-container {
  width: 100%;
}

.movie-info {
  margin-left: 40px;
  margin-right: 5%;
}

.movie-content-wrapper {
  width: 100%;
}

.movie-box {
  width: 80%;
  height: 100%;
  display: flex;
  text-align: left;
  background-color: rgba(0,0,0,.7);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto; 
}

.movie-title {
  text-transform: uppercase;
  color: #fd7c2a;
  margin-bottom: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.add-to-watchlist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.add-to-watchlist p {
  margin-right: 5px;
}

.watchlist-icon {
  color: white;
}

.watchlist-icon:hover {
  color: #3cc16e;
}

.genre-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.genre-list p {
  font-size: 14px;
  margin-top: 0;
  margin-right: 30px;
}

.overview-label {
  margin-top: 40px;
}

.overview-text {
  width: 90%;
}

.director-label {
  margin-top: 40px;
}

.bottom-info {
  line-height: 40px;
}

.bottom-info p {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  color: black;
}

.cast-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
}

.cast-wrapper img {
  width: 100%;
}

.movie-additional-info {
  width: 80%;
  margin: 0 auto;
}

.character-name {
  font-size: small;
}

.review-container {
  background-color:#fff;
  padding: 20px 40px;
  margin-bottom: 20px;
}

.review-content-wrapper img {
  width: 100px;
  height: 100px;
}

.review-content-wrapper{
  display: flex;
  margin-top: 20px;
}

.review-details {
  text-align: left;
  margin-left: 25px;
}

.review-details h4, .review-details h5 {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}

.review-content-wrapper p {
  color: black;
}

.review-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-rating {
  border: 1px solid #3cc16e;
  padding: 2px 6px;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px;
  padding: 2px 8px;
  background-color: #fff;
  color: #000;
}

.review-rating svg {
  color:#fd7c2a;
  font-size: medium;
}

.date {
  font-weight: lighter;
}

/* watchlist */

.watchlist-movies-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 5% auto;
  align-items: center;
  justify-content: center;
}

.watchlist-movies-wrapper img {
  width: 210px;
  height: 290px;
}

.watchlist-single-movie {
  margin-right: 1em;
  margin-bottom: 40px;
}

.watchlist-label-flex {
  background-color: white;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.watchlist-label-flex p {
  color: black;
}

.remove-watchlist-icon {
  color:#fd7c2a;
}

/* top rated */

.top-rated-container, .now-playing-container {
  padding-top: 2%;
}

/* upcoming */

.upcoming-container {
  padding-top: 2%;
}

/* sign-up/sign-in */

.form-wrapper {
  width: 100%;;
}

.form-wrapper input[type="text"], .form-wrapper input[type="email"], .form-wrapper input[type="password"] {
  border: none;
  background-color: rgb(242, 242, 242);
  border: 1px solid lightgray;
  border-radius: 2px;
  color: black;
  padding: 8px;
  outline: none;
  font-size: 14px;
  margin: 5px 10% 13px 10%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.form-wrapper form {
  width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 5%;
  border: 1px solid;
  background-color: white;
}

.form-wrapper form h5 {
  margin: 0;
  text-align: left;
  margin-left: 15%;
  color: black;
}

.form-wrapper h2, .form-wrapper p {
  color: black;
}

.form-wrapper h2 {
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 0;
  background-color: #3cc16e;
  color: white;
}

.form-box {
  margin-bottom: 40px;
}

.toggle-password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15%;
}

.toggle-password p {
  padding-left: 5px;
}

button[type="submit"] {
  color: #fff;
  border: none;
  padding: 8px 15px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 15px;
  font: bold 18px sans-serif;
  background-color: #fd7c2a;
  -webkit-transition: background 2s; /* For Safari 3.0 to 6.0 */
        transition: background 2s; /* For modern browsers */       
}

button:hover {
  background: #3cc16e;
}

.no-account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.no-account a {
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
}

/* footer */

.footer-wrapper {
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper h4 {
  margin: 0;
  color: #000;
}


@media only screen and (max-width: 1200px) {
  .movie-list-wrapper {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 5%;
  }
}

@media only screen and (max-width: 1000px) {
  .movie-list-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .movie-list-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 560px) {
  .movie-list-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .header-wrapper a img {
    height: 45px;
  }

  .right-div p {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  .title {
    margin-left: 10%;
  }
  .form-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .form-wrapper form {
    width: 300px;
  }

  .nav-menu-hamburger {
    display: block;
    flex-direction: column;
  }

  .nav-menu-hidden {
    display: none;
  }

  .hamburger-icon {
    display: block;
    margin-right: 80%;
  }

  .hamburger-icon svg {
    width: 32px;
    height: 32px;
    color: #3cc16e;
  }

  .nav-menu {
    display: none;
  }

  .nav-active {
    width: 50%;
    margin: 0 auto;
  }

  .search-bar-active input {
    width: 80%;
    font-size: medium;
  }

  .search-icon {
    left: 80%;
    top: 15%;
  }

  .clear {
    font-size: medium;
    right: 25%;
    top: 20%;
  }

  .pagination a {
    padding: 5px 10px;
  }

  .header-wrapper a img {
    height: 40px;
  }

  .nav-menu-wrapper {
    padding-bottom: 3px;
  }
}

@media only screen and (max-width: 460px) {
  .header-wrapper span svg {
    margin-right: 10px;
  }

  .profile-icon {
    margin-right: 5px;
  }
}
